@import "../index/style.min.css";
@import "../index/footer.css";
@import "../paid_services/paid_services.css";
.content__block{
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-gap: 15%;
}
.title__text{
    margin-top: 2%;
    font-family: "Muller", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #555555;
    line-height: 150%;
}
.dropdown_block{
    transition: all 0.1s ease-out;
    align-items: center;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid #E0E0E0;
}
.dropdown__inner{
    color: #555555;
    margin-top: 2%;
}
.block_title{
    font-family: "Muller",sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    color: #555555;
}
.block_text{
    font-family: "Muller",sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
}
.block_icon{
    transition: all 0.09s ease-out;
    width: 30px;
    height: 30px;
    background-image: url("../../img/index/icons/arrow-down.svg");
    background-repeat: no-repeat ;
    background-size:cover;
}

.block_drop_section{
    padding: 1em;
    border: 1px solid #E0E0E0;
    font-family: "Muller",sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    display: none;
}
.drop__items{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    align-items:center ;
}
.drop__stick{
    margin-right: 5px;
    width: 10px;
    height: 2px;
    background-image: url("../../img/index/icons/drop_stick.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.block_drop_section span{
    margin-top: 1%;
}
.block_drop_section button{
    margin-top: 2%;
}
.drop__title{
    font-weight: 700;
}
.drop_active .block_drop_section{
    display: flex;
    flex-direction: column;
}
.drop_active .block_icon{
    transform: rotate(180deg)
}
.drop_active .dropdown_block {
    border: none;
    background: #F0F0F0;
    color:#E53429;
}
.our_advantages__block{
    margin-top: 5%;
}
.advantages__grid{
    margin-top: 2%;
    grid-gap: 3% ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.advantages__title{
    color: #555555;
    font-family: "Muller",sans-serif;;
    font-weight: 700;
    font-size: 38px;
    line-height: 120%;
}
.advantages__item{
    min-height: 200px;
    z-index: 1;
    position: relative;
    border: 1px solid #E0E0E0;
    padding: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.item_number{
    display: flex;
    align-items: center;
    height: 80%;
    text-align: center;
    transform: translateY(-50);
    z-index: 2;
    position: absolute;
    left: -16px;
    font-family: "Muller",sans-serif;
    font-weight: 700;
    font-size: 70px;
    color: #E53429;
    background: #fff;
}
.item_text{
    color: #555555;
    font-family: "Muller",sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
}